@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-main: #ffffff;
  --bg-secondary: #3B82F6;
  --bg-card: #EFF6FF;
  --fg-main: #172554;
  --fg-secondary: #242424;
  --text-secondary: #F5F5F4;
  --text-main: #374151;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  outline: none;
  border: none
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  position: relative;
  font-family: "Poppins","Inter", sans-serif;
  min-height: 100vh;
  color: var(--fg-main);
  background-color: var(--bg-main);
}

#top{
  position: relative;
  width: 100%;
  padding: 24px 0 32px 0;
  background-color: var(--bg-secondary);
}

header, nav, main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

header h1{
  font-size: 2.5em;
  text-align: center;
  color: var(--text-secondary);
}

#controls{
  margin: 1em 0;
  padding: 2em 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
}

#controls .control{
  width: 240px;
  display: flex;
  flex-direction: column;
}

#controls .control label{
  width: 100%;
  padding: .5em 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary);
}

#controls .control input{
  outline: none;
  border: none;
  width: 100%;
  font-size: 16px;
  height: 44px;
  background-color: var(--bg-card);
  color: var(--fg-main);
}

#middle{
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--bg-secondary);
}

nav{
  display: flex;
  justify-content: center;
}

#navigation {
  display: flex;
  margin: 0 auto;
}

#navigation button{
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  background-color: transparent;
}

#navigation button[data-active="true"]{
  background-color: var(--bg-main);
  color: var(--text-main);
}

#down{
  height: 100vh;
}

footer{
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: var(--bg-main);
  left: 0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button {
  background-color: transparent;
  color: var(--text-main);
  font-size: 16px;
  font-weight: 600;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
